In [1]:
# import libraries
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:

temp

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,DAPR,DAPR_ATTRIBUTES,MDPR,MDPR_ATTRIBUTES
0,US1CASF0003,2009-01-24,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",64.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
1,US1CASF0003,2009-02-02,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN
2,US1CASF0003,2009-02-04,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN
3,US1CASF0003,2009-02-05,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",33.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
4,US1CASF0003,2009-02-06,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",84.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,US1CASF0003,2016-07-07,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN
1021,US1CASF0003,2016-07-08,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",0.0,"T,,N",NaN,NaN,NaN,NaN,NaN,NaN
1022,US1CASF0003,2016-07-11,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN
1023,US1CASF0003,2016-08-05,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",0.0,"T,,N",NaN,NaN,NaN,NaN,NaN,NaN
1024,US1CASF0003,2016-08-08,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN

In [21]:
# Define the path to your CSV file
file_list =[r'data/US1CASF0004.csv', r'data/US1CASF0008.csv', r'data/US1CASF0014.csv', \
            r'data/US1CASF0017.csv', r'data/US1CASF0020.csv', r'data/US1CASF0021.csv', r'data/USC00047765.csv', \
            r'data/USC00047767.csv', r'data/USW00023234.csv', r'data/USW00023272.csv']  
sf_daily = pd.read_csv('data/US1CASF0003.csv')
for filename in file_list:
        # Read the CSV file into a new DataFrame
        temp = pd.read_csv(filename)
        # Append the new data to the existing DataFrame
        sf_daily = sf_daily.append(temp, ignore_index=True)
sf_daily

C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:8: DtypeWarning: Columns (11,17,19,21,23,25,27,29,31,33,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,75,79,83,85,87,89,91,95,97,99,101,103) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(filename)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:8: DtypeWarning: Columns (17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(filename)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10236\2730956591.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)

In [58]:

sf_daily.columns = sf_daily.columns.str.lower()
sf_daily.columns

Index(['station', 'date', 'latitude', 'longitude', 'elevation', 'name', 'prcp',
       'prcp_attributes', 'snow', 'snow_attributes',
       ...
       'wt21', 'wt21_attributes', 'wv01', 'wv01_attributes', 'wv03',
       'wv03_attributes', 'wv20', 'wv20_attributes', 'psun',
       'psun_attributes'],
      dtype='object', length=112)

In [56]:
#Check missing value, there many variable with most of records are missing value
missing_values = sf_daily.isna().sum()
missing_values = missing_values.to_frame()
missing_values
plt.(x='missing_values.index')

AttributeError: module 'matplotlib.pyplot' has no attribute 'barplot'