In [2]:
# import libraries
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Define the path to your CSV file
file_list =[r'data/US1CASF0004.csv', r'data/US1CASF0008.csv', r'data/US1CASF0014.csv', \
            r'data/US1CASF0017.csv', r'data/US1CASF0020.csv', r'data/US1CASF0021.csv', r'data/USC00047765.csv', \
            r'data/USC00047767.csv', r'data/USW00023234.csv', r'data/USW00023272.csv']  
sf_daily = pd.read_csv('data/US1CASF0003.csv')
for filename in file_list:
        # Read the CSV file into a new DataFrame
        temp = pd.read_csv(filename)
        # Append the new data to the existing DataFrame
        sf_daily = sf_daily.append(temp, ignore_index=True)
sf_daily

C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:8: DtypeWarning: Columns (11,17,19,21,23,25,27,29,31,33,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,75,79,83,85,87,89,91,95,97,99,101,103) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(filename)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:8: DtypeWarning: Columns (17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(filename)
C:\Users\jeng_\AppData\Local\Temp\ipykernel_10424\686065635.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sf_daily = sf_daily.append(temp, ignore_index=True)

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,...,WT21,WT21_ATTRIBUTES,WV01,WV01_ATTRIBUTES,WV03,WV03_ATTRIBUTES,WV20,WV20_ATTRIBUTES,PSUN,PSUN_ATTRIBUTES
0,US1CASF0003,2009-01-24,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",64.0,",,N",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1CASF0003,2009-02-02,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",0.0,",,N",0.0,",,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1CASF0003,2009-02-04,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",0.0,",,N",0.0,",,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1CASF0003,2009-02-05,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",33.0,",,N",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1CASF0003,2009-02-06,37.7834,-122.4701,52.7,"SAN FRANCISCO 2.8 WNW, CA US",84.0,",,N",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101847,USW00023272,2023-10-14,37.7705,-122.4269,45.7,"SAN FRANCISCO DOWNTOWN, CA US",0.0,",,W,2400",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101848,USW00023272,2023-10-15,37.7705,-122.4269,45.7,"SAN FRANCISCO DOWNTOWN, CA US",0.0,",,W,2400",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101849,USW00023272,2023-10-16,37.7705,-122.4269,45.7,"SAN FRANCISCO DOWNTOWN, CA US",0.0,",,W,2400",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101850,USW00023272,2023-10-18,37.7705,-122.4269,45.7,"SAN FRANCISCO DOWNTOWN, CA US",0.0,",,W,2400",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101851,USW00023272,2023-10-19,37.7705,-122.4269,45.7,"SAN FRANCISCO DOWNTOWN, CA US",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

sf_daily.columns = sf_daily.columns.str.lower()
sf_daily.columns

Index(['station', 'date', 'latitude', 'longitude', 'elevation', 'name', 'prcp',
       'prcp_attributes', 'snow', 'snow_attributes',
       ...
       'wt21', 'wt21_attributes', 'wv01', 'wv01_attributes', 'wv03',
       'wv03_attributes', 'wv20', 'wv20_attributes', 'psun',
       'psun_attributes'],
      dtype='object', length=112)

In [34]:
#Check missing value, there many variable with most of records are missing value
missing_values = sf_daily.isna().sum()
missing_values = missing_values.reset_index()  # Reset the index to make it a DataFrame
missing_values.columns = ['Variables', 'Missing Values']  # Rename the columns
specific_vars = ['station', 'date', 'latitude', 'longitude', 'elevation', 'name', 'prcp',
                 'prcp_attributes', 'snow', 'snow_attributes', 'snwd', 'tmax', 'tmin']

# Filter the DataFrame based on the specific variables using .loc
filtered_missing_values = missing_values.loc[missing_values['Variables'].isin(specific_vars)]

print(filtered_missing_values)

#sns.barplot(missing_values, x='Missing Values', y='Variables', orient="h")

          Variables  Missing Values
0           station               0
1              date               0
2          latitude               0
3         longitude               0
4         elevation               0
5              name               0
6              prcp            1716
7   prcp_attributes            1716
8              snow           34662
9   snow_attributes           34662
16             snwd           42917
18             tmax           13072
20             tmin           13187

In [47]:
#sf_daily.groupby(['station']).agg('count')

grouped = sf_daily.groupby(['station']).agg('count')

# Transpose the table using .T
transposed_table = grouped.T

# Alternatively, you can use the .transpose() method
# transposed_table = grouped.transpose()

# Now, transposed_table contains the transposed version of the grouped DataFrame
print(transposed_table.loc[['date', 'prcp', 'snow', 'snwd', 'tmax', 'tmin']])

station  US1CASF0003  US1CASF0004  US1CASF0008  US1CASF0014  US1CASF0017  \
date            1025         4979         1461          162         1169
prcp            1024         4979         1459          153         1158
snow             582         3900         1121            0          905
snwd               0            0            0            0            0
tmax               0            0            0            0            0
tmin               0            0            0            0            0

station  US1CASF0020  US1CASF0021  USC00047765  USC00047767  USW00023234  \
date             764          482         2185        23517        28564
prcp             760          482         2178        21849        28562
snow             464          297         2185        17895        18773
snwd               0            0         2184        17679        17837
tmax               0            0         2152        20556        28543
tmin               0            0         2148        20448        28540

station  USW00023272
date           37544
prcp           37532
snow           21068
snwd           21235
tmax           37529
tmin           37529